body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

#home {
  height: calc(100vh - 80px);
  background-image: url("../images/img/background.jpg");
  background-position: 58% 36%;
  background-size: cover;
  padding: 40px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  gap: 30px;
}

.nav-href {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-href:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.7;
}

.nav-href.active {
  opacity: 0.7;
}

.media-icon {
  display: flex;
  gap: 16px;
  height: 30px;
}

#nav-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.logo-wrap {
  width: 30rem;
  text-align: left;
}

.logo {
  width: 295px;
  position: relative;
  top: 10vh;
}

.img-media-icon {
  transition: 0.3s;
}

.img-media-icon:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
}

.text-home-wrapper {
  display: flex;
  height: 90%;
  align-items: center;
}

.text-home {
  width: 55%;
  text-align: center;
  margin: 0 auto;
}

.title-home {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 60px;
  font-variant: all-petite-caps;
}

.about-home {
  font-size: 29px;
  font-weight: 300;
  line-height: 34.1px;
  padding-bottom: 3rem;
  font-variant: all-petite-caps;
}

.about-home-btn {
  background: #f5914f;
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 50px;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  text-decoration: none;
}

.about-home-btn:hover {
  cursor: pointer;
  transition: 0.3s;
  background: #f77b29;
  text-shadow: 0px 3px 2px black;
}

.arrow-bottom {
  width: 39px;
  height: 19px;
  fill: white;
  animation: animation-arrow 2s ease-in-out infinite;
  transition: 0.3s;
}

.arrow-bottom:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.7;
}

@keyframes animation-arrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62%;
  margin: 0 auto;
  gap: 30px;
  padding: 17vh 0;
}

.text-about-wrapper {
  width: 50%;
}

.about-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 51%;
  margin: 0 auto;
}

.title-about {
  font-weight: 600;
  color: #2a3e95;
  font-size: 40px;
  line-height: 1.23;
  font-variant: all-small-caps;
  font-weight: bold;
}

.text-about {
  font-size: 20px;
  font-weight: 300;
  line-height: 31px;
  color: #2a3e95;
}

.about-img {
  width: 220px;
}

#service {
  background: whitesmoke;
  padding-bottom: 15vh;
}

.service-title {
  font-size: 42px;
  font-weight: bold;
  line-height: 51.66px;
  text-align: center;
  padding: 10vh 0 5vh 0;
  margin: 0;
  color: #2a3e95;
  font-variant: all-petite-caps;
}

.service-img {
  height: 60px;
}

.service-card-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 35.1px;
  color: #2a3e95;
  font-variant: all-petite-caps;
}

.service-card-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 27.9px;
  width: 90%;
  margin: 0 auto;
  color: #2a3e95;
}

.service-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  width: 39%;
  margin: 0 auto;
  flex-direction: column;
}

.service-card {
  text-align: left;
  width: 100%;
}

#doit {
  background-attachment: fixed;
  background-image: url("../images/form/blob.jpg");
  background-size: cover;
  background-position: center;
}

.back-doit {
  text-align: center;
}

.back-doit-wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doit-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 48.04px;
  text-align: center;
  margin: 0;
  padding: 3vh 0 3vh;
  color: white;
  font-variant: all-petite-caps;
}

.doit-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: white;
  width: 28%;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 5vh;
  font-variant: all-petite-caps;
}

.doit-btn {
  background: #f5914f;
  color: white;
  font-size: 25px;
  font-weight: 700;
  padding: 15px 50px;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
  font-variant: all-petite-caps;
}

.doit-btn::before {
  content: " ";
  position: absolute;
  background-image: url("../images/icon/arrow-form.svg");
  width: 45px;
  height: 54px;
  background-size: contain;
  background-repeat: no-repeat;
  top: -2vh;
  left: -6vh;
}

.doit-btn:hover {
  cursor: pointer;
  transition: 0.3s;
  background: #f77b29;
  text-shadow: 0px 3px 2px black;
}

#preference {
  text-align: center;
  padding: 15vh 0;
  width: 32%;
  margin: 0 auto;
}

.preference-title {
  font-size: 42px;
  font-weight: 600;
  line-height: 51.66px;
  color: #2a3e95;
  font-variant: all-petite-caps;
}

.preference-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin: 2vh 0 6vh;
}

.preference-card {
  display: flex;
  text-align: left;
  gap: 40px;
  align-items: center;
  margin-bottom: 6vh;
}

.preference-card-wrapper {
  width: 75%;
}

.preference-card-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin: 0;
  margin-bottom: 1.5vh;
}

.preference-card-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 27.9px;
  margin: 0;
}

.preference-img {
  width: 55px;
}

#form {
  height: 100vh;
  background-image: url("../images/form/form.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-position: right;
}

.form-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 59.04px;
  color: white;
  margin-bottom: 3vh;
  font-variant: all-petite-caps;
}

.form-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: white;
  width: 30%;
  margin: 0 auto;
}

.from-input {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 56px;
  background-color: transparent;
  line-height: 1.33;
  padding: 0 20px;
}

.form-btn {
  background: #f5914f;
  color: white;
  font-size: 25px;
  font-weight: 700;
  padding: 15px 50px;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  position: relative;
  font-variant: all-petite-caps;
  height: 58px;
}

.form-btn:hover {
  cursor: pointer;
  transition: 0.3s;
  background: #f77b29;
  text-shadow: 0px 3px 2px black;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 5vh;
}

footer {
  padding: 10vh;
  text-align: center;
}

.footer-link-form-wrapper {
  display: grid;
  height: 9vh;
}

.footer-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.9px;
  padding-bottom: 3vh;
}

.footer-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 39.36px;
  text-decoration: none;
  color: black;
}

.footer-social {
  font-size: 16px;
  font-weight: 300;
  line-height: 24.8px;
  margin: 5vh 0;
}

.footer-img-media-icon {
  width: 48px;
  height: 48px;
}

.footer-media-icon {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  width: max-content;
}

.text-about-href {
  text-decoration: none;
  font-weight: 500;
  color: #2a3e95;
}

.service-card-href {
  color: #2a3e95;
  text-decoration: none;
  font-weight: 400;
}

.form-error {
  display: grid;
  color: #ffffff;
  gap: 10px;
  height: 90px;
}

@media screen and (max-width: 1520px) {
  .about-wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 1260px) {
  .about-wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 1099px) {
  .about-wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 991px) {
  .doit-text {
    width: 50%;
  }
  .service-card-wrapper {
    width: 65%;
  }

  .logo {
    width: 170px;
    top: auto;
    position: relative;
    left: auto;
    margin: 0 auto;
  }

  .logo-wrap {
    width: auto;
    text-align: center;
  }

  #nav-home {
    display: grid;
    height: auto;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 5vh 0;
  }

  .media-icon {
    margin: 0 auto;
  }

  #home {
    padding: 0;
    height: auto;
  }

  .about-wrapper {
    display: grid;
    width: auto;
    text-align: center;
  }

  .text-about-wrapper {
    margin: 0 auto;
  }

  .form-wrapper {
    display: grid;
  }

  .form-text {
    width: 50%;
  }

  .text-home-wrapper {
    height: auto;
    padding-bottom: 10vh;
  }

  .arrow-bottom {
    padding-bottom: 10vh;
  }

  #preference {
    width: 50%;
  }

  .about-img {
    width: 180px;
  }

  .about-gallery {
    width: 75%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .text-home {
    width: 80%;
  }

  .about-img {
    width: 185px;
  }

  .doit-text {
    width: 95%;
  }

  #preference {
    width: 90%;
  }

  .form-text {
    width: 90%;
  }
}

@media screen and (max-width: 610px) {
  .back-doit-wrapper {
    height: 75vh;
  }

  .title-home {
    font-size: 45px;
    line-height: normal;
  }

  .text-home {
    width: 90%;
  }

  .text-about-wrapper {
    width: 90%;
  }

  .service-card-wrapper {
    width: 90%;
  }

  .service-card {
    width: 100%;
  }

  .doit-title {
    font-size: 40px;
  }

  .doit-btn::before {
    display: none;
  }

  .preference-title {
    font-size: 40px;
  }

  footer {
    padding: 2vh;
  }

  .footer-link {
    font-size: 25px;
  }

  .title-about {
    font-size: 40px;
  }

  .service-title {
    font-size: 40px;
  }

  .form-title {
    font-size: 40px;
  }

  .about-home {
    font-size: 20px;
  }

  .text-about {
    font-size: 20px;
  }

  .doit-text {
    font-size: 20px;
  }

  .preference-text {
    font-size: 20px;
  }

  .form-text {
    font-size: 20px;
  }
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}
::placeholder {
  /* Most modern browsers support this now. */
  color: #ffffff;
}
